powershell -c "irm bun.sh/install.ps1 | iex" 
npm install @prisma/client
npm install @prisma/client prisma
reset
bun install
pip install requests


cd api
npx prisma migrate dev --name init


cd Cliente
py main.py
